@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow&display=swap');

@font-face {
    font-family: "Mystery Quest";
    src: url("RibeyeMarrow.woff2");
    }
body {
    background-color: #CBAC4D;
}
